<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant_Booking_System.Properties.Settings.Restaurant_BookingConnectionString"
            connectionString="Data Source=DESKTOP-KNMC6OG\SQLEXPRESS01;Initial Catalog=Restaurant_Booking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>